body {
  font-family: "Libre Baskerville", serif;
  width: 850px;
  margin-inline: auto;
}
header img {
  width: 10rem;
  display: block;
  margin-inline: auto;
}

header h3 {
  background-color: yellow;
  color: green;
  text-align: center;
  height: 2.5rem;
  padding-top: 1rem;
}
header h3 span {
  text-transform: uppercase;
}

body h1 {
  text-align: center;
}
div.sally-img p {
  text-align: center;
}

main div img {
  width: 100%;
}

a {
  color: green;
}
.second-span {
  text-transform: uppercase;
  color: orange;
}

main hr {
  border-color: green;
}

.li-special {
  list-style: none;
  padding-top: 0.1rem;
}
