body {
  font-family: "Libre Baskerville", serif;
  background-color: rgb(239 239 232 / 23%);
}

.ineluttbile {
  width: 850px;
  margin-inline: auto;
}
div img {
  width: 10rem;
  display: block;
  margin-inline: auto;
}

div h3 {
  background-color: #e9e26021;
  color: green;
  text-align: center;
  height: 2.5rem;
  padding-top: 1rem;
  font-weight: bolder;
  box-shadow: 0px -3px 0px 0px #f7e32f56;
  position: absolute;
  left: 33px;
  right: 51px;
}

header h3 span {
  text-transform: uppercase;
}

body h1 {
  margin-top: 4em;
  text-align: center;
  font-weight: bolder;
}
div.sally-img p {
  text-align: center;
  opacity: 0.7;
}

main div video {
  width: 100%;
  border-radius: 1em;
  box-shadow: 7px 5px 10px 0px #00000052;
}

a {
  color: rgb(3, 86, 3);
}
.second-span {
  text-transform: uppercase;
  color: #d16d11;
  font-weight: bolder;
}

main hr {
  border-color: #00800054;
}

.li-1 {
  font-weight: bolder;
}
.li-special {
  list-style: none;
  padding-top: 0.3rem;
}

.bordo-destro {
  border-left: 2px solid #d16e1141;
  padding-left: 1em;
}
